
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

/* For mobile devices */
@media (max-width: 768px) {
  .grid-cols-5 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* For even smaller devices */
@media (max-width: 480px) {
  .grid-cols-5 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
